#container {
  display: flex;
  flex-direction: column;
  #pageContent {
    display: flex;
    flex-direction: row;
    #textContent {
      padding: 15px;
      margin: 0 0 56.5px 360px;
      overflow-y: auto;
      h1 {
        margin: 20px 0;
        font-size: 33px;
      }
      strong {
        font-size: 18px;
      }
    }
  }
}
